<div id="about">
  <div id="title">
    <p>About Me</p>
  </div>
  <div id="content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Aliquid, esse cupiditate? Corporis ducimus in fugit at error est aspernatur magni fugiat,
      sit, dignissimos totam nulla ea veritatis recusandae! Aliquam, aperiam.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis aperiam,
      alias obcaecati, unde facere accusantium est possimus debitis temporibus officiis eius
      consequuntur quaerat odio a, sit dolorum rerum vero maxime?
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Deleniti dignissimos ex facere fugit laboriosam, odit molestiae quo nemo consecteturdict
      ptio, animi aspernatur. Dolore, molestias voluptates. Deserunt laboriosam essedelectus.</p>
    <a href="" target="_blank"><input type="button" value="Download CV"></a>
  </div>
</div>
