<div id="footer">
<div>
<h4>GET IN Touch</h4>
<i class="fa-solid fa-envelope"></i><span> abdosaleh3742103@gmail.com</span><br>
<i class="fa-solid fa-phone"></i><span> 01279307208</span>
</div>
<div>
<a href="mailto:abdosaleh3742103@gmail.com">
  <input type="button" value="CONTACT ME">
</a>
</div>
<div id="copy-right">
<a href="https://www.facebook.com/abdosaleh3742103" target="_blank"><i class="fa-brands fa-facebook"></i></a>
<a href="https://www.linkedin.com/in/abdosaleh37" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
<a href="https://github.com/abdosaleh37" target="_blank"><i class="fa-brands fa-github"></i></a>
<p>Copyright &copy; 2025 Abdo Saleh</p>
</div>
</div>
