<div id="skills">
  <div id="title">
    <h1>Skills</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Provident cum dolore adipisci ea odio amet pariatur, aut officia velit libero,
      voluptatibus laudantium tempora aperiam laborum explicabo magni magnam blanditiis?
      Sapiente? Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus possimus
      consequatur odit?Expedita sunt doloribus illo? Aperiam error rerum maxime.</p>
  </div>
  <div id="content">
    <div id="focus">
      <h3>My Focus</h3>
      <hr>
      <p>UI/UX Design</p>
      <p>Responsive Design</p>
      <p>Web Design</p>
      <p>Mobile-App Design</p>
    </div>
    <div id="bars">
      <span>HTML</span><progress min="0" max="100" value="95"></progress><br>
      <span>CSS</span><progress min="0" max="100" value="90"></progress><br>
      <span>JS</span><progress min="0" max="100" value="80"></progress><br>
      <span>React</span><progress min="0" max="100" value="80"></progress><br>
      <span>PhotoShop</span><progress min="0" max="100" value="90"></progress><br>
      <span>Adobe</span><progress min="0" max="100" value="80"></progress><br>
      <span>Node JS</span><progress min="0" max="100" value="60"></progress><br>
      <span>WordPress</span><progress min="0" max="100" value="50"></progress><br>
    </div>
  </div>
</div>
<br>
