<div id="portfolio">
  <div id="title">
    <h1>Portfolio</h1>
  </div>
  <div id="cards">
  <a href="#">
    <div>
      <h4>Web Design</h4>
      <hr>
    </div>
  </a>

  <a href="#">
    <div>
      <h4>Mobile Design</h4>
      <hr>
    </div>
  </a>

  <a href="#">
    <div>
      <h4>Logo Design</h4>
      <hr>
    </div>
  </a>

  <a href="#">
    <div>
      <h4>Web Application Development</h4>
    </div>
  </a>

  <a href="#">
    <div>
      <h4>Mobile Application Development</h4>
    </div>
  </a>

  <a href="#">
    <div>
      <h4>Android Development</h4>
    </div>
  </a>

  </div>
</div>
